html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT sans' sans-serif;
}

.icon h1{
    color: #0D7A77;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon h2{
    color: #0D7A77;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #0D7A77;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
